<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Activate Your Account</title>
  </head>
  <body>
    <h2>Welcome to Our App 🎉</h2>
    <p>To activate your account, please enter this activation code:</p>
    <h3><%= activationCode %></h3>
    <p>This code will expire in 10 minutes.</p>
  </body>
</html>
